.graph__container__wrapper {
  display: flex;
  .graph__container {
    background-color: white;
    border-radius: 20px;
    margin-left: 28px;

    display: flex;
    position: relative;
    width: 28vw;
    height: 100p;
    margin-top: 21px;
    flex-direction: column;

    .top__portion__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 20%;
      padding: 14px;
      .top__portion__heading {
        display: flex;
        margin-top: 10px;
      }
      .top__portion__sub__heading {
        margin-right: 13px;
        display: flex;
        color: blue;
      }
      .top__portion__profileContainer__dot {
        margin-left: 131px;
        color: blue;
        margin-top: 11px;
      }
    }
  }
}
