.home__wrapper {
  height: 250vh;
  background-color: #e7e7e7;
  overflow: hidden;
  .home__sections {
    width: 100%;
    position: relative;
    top: 44px;
    margin-left: 54px;

    //for hiding scrollbar
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    //egane kodthal namml section class ullil kodtha allaa componentinum ee style apply aakum
  }
}
