.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: white;
  flex-direction: column;
  border-radius: 20px;

  .profileContainer__dot {
    margin-left: 153px;
    color: blue;
  }
  .profile__image {
    width: 100px;
    height: 97px;
    border-radius: 50%;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 22px;
      font-weight: bold;
    }
    h6 {
      font-size: 10px;
      color: lightgray;
    }
  }
}
