.progress-bar__container__wrapper {
  display: flex;

  .progress-bar__container {
    background-color: white;
    border-radius: 20px;
    margin-left: 28px;

    display: flex;
    position: relative;
    width: 28vw;
    height: 100p;
    margin-top: 21px;
    flex-direction: column;

    .progress-bar__top__portion {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 20%;
      padding: 14px;
      align-items: center;
      margin-bottom: 12px;
      .progress-bar__heading {
        display: flex;
      }
      .progress-bar__sub__heading {
        margin-right: 13px;
        display: flex;
        color: blue;
        margin-top: 12px;
      }
    }
    .progress-bar__middle-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 20%;
      //   padding: 14px;
      align-items: center;
      padding-top: 0px;
      margin-bottom: 9px;
      .progress-bar__middle-section__heading {
        display: flex;
        font-weight: bold;
        margin-left: 15px;
      }
      .progress-bar__middle-section__sub-heading {
        margin-right: 13px;
        display: flex;
        // margin-top: 24px;
        color: blue;
        font-size: 12px;
      }
    }
    .progress {
      display: flex;
      margin-left: 16px;
      height: 10px;
      /* width: 141px; */
      width: 90%;
    }
  }
}
